<?xml version="1.0"?>
<config>
  <modules>
    <Perceptive_BestSellers>
      <version>0.1.0</version>
    </Perceptive_BestSellers>
  </modules>
  <global>
    <helpers>
      <bestsellers>
        <class>Perceptive_BestSellers_Helper</class>
      </bestsellers>
    </helpers>
	<blocks>
	  <bestsellers>
		<class>Perceptive_BestSellers_Block</class>
	  </bestsellers>
	</blocks>
	<models>
	  <bestsellers>
		<class>Perceptive_BestSellers_Model</class>
		<resourceModel>bestsellers_mysql4</resourceModel>
	  </bestsellers>
	  <bestsellers_mysql4>
		<class>Perceptive_BestSellers_Model_Mysql4</class>
		<entities>		  
			  <bestsellers>
				<table>best_sellers</table>
			  </bestsellers>
        </entities>
	  </bestsellers_mysql4>
	</models>
	<resources>
	  <bestsellers_setup>
		<setup>
		  <module>Perceptive_BestSellers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bestsellers_setup>
	  <bestsellers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bestsellers_write>
	  <bestsellers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bestsellers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <bestsellers>
	    <use>admin</use>
		<args>
		  <module>Perceptive_BestSellers</module>
		  <frontName>admin_bestsellers</frontName>
		</args>
	  </bestsellers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <bestsellers module="bestsellers">
		<title>BestSellers</title>
		<sort_order>100</sort_order>
		<children>
		  <bestsellers module="bestsellers">
		    <title>Manage Bestsellers</title>
			<sort_order>0</sort_order>
			<action>admin_bestsellers/adminhtml_bestsellers</action>
		  </bestsellers>
		</children>
	  </bestsellers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<bestsellers translate="title" module="bestsellers">
			  <title>BestSellers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <bestsellers translate="title">
			<title>Manage Bestsellers</title>
			<sort_order>0</sort_order>
		  </bestsellers>
			  </children>
			</bestsellers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<bestsellers>
		  <file>bestsellers.xml</file>
		</bestsellers>
	  </updates>
	</layout>
  </adminhtml>
</config> 